/* You can add global styles to this file, and also import other style files */
body,
html {
  overflow-y: hidden;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

input.form-control:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

select.form-select:focus {
  border-color: #ffc107;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}

login-view {
  background-image: url(/assets/background-login.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

app-sidebar,
app-sidebar-offcanvas,
app-chat {
  min-width: 80px;
  z-index: 1;
  background-image: url(/assets/background.png);
  background-repeat: repeat;
}

app-header,
app-brand-button,
app-offcanvas-brand-button {
  height: 8vh;
  min-height: 75px;
}

app-footer {
  height: 8vh;
  min-height: 40px;
  text-align: right;
  z-index: 0;
}

app-alerts {
  position: fixed !important;
  width: fit-content !important;
  bottom: 50px;
  right: 20px;
  z-index: 9999;
  opacity: 0;
}

app-alerts.show {
  opacity: 1;
}

.span-btn:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  transform-origin: center;
}

.icon-badge {
  position: relative;        /* referencia para el absolute del small */
  display: inline-block;     /* para que el tamaño se ajuste al icono */
}

.icon-badge small {
  position: absolute;
  top: -6px;                 /* ajusta según el tamaño del icono */
  right: -6px;               /* ajusta para centrar/pegar en la esquina */
  background: #ffc107;           /* opcional: círculo de color */
  color: white;
  font-size: 0.7rem;         /* tamaño del número */
  border-radius: 50%;
  padding: 2px 5px;          /* espacio interno para el badge */
  line-height: 1;
}

.fade-in-up {
  animation: fade-in-up 0.6s ease-out forwards;
  /* opcional: oculto al inicio si el elemento ya está en el DOM */
  opacity: 0;
}

.fade-in-down {
  animation: fade-in-down 0.6s ease-out forwards;
  /* opcional: para que empiece invisible hasta que arranque la animación */
  opacity: 0;
}
.pop-appear {
  animation: pop-appear 0.45s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  /* opcional: si quieres que empiece invisible hasta que se aplique la animación */
  opacity: 0;
}

/* ANIMATIONS */

@keyframes fade-in-down {
  0% {
    transform: translateY(-20px); /* empieza 20px más arriba */
    opacity: 0;
  }
  100% {
    transform: translateY(0);     /* posición final */
    opacity: 1;
  }
}

@keyframes fade-in-up {
  0% {
    transform: translateY(20px); /* empieza 20px más abajo */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* posición final */
    opacity: 1;
  }
}

@keyframes pop-appear {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  80% {
    transform: scale(0.95);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}